<%= flash[:status] if flash[:status]%>

<h1>ALL THE CATS</h1>
<pre><%= @cats.to_s %></pre>
<a href="/cats/new">New cat!</a>
<br>
<a href="./cats/flash">Flash Page</a>
<a href="./cats/flash_now">Flash Now Page</a>
