<%= flash[:status] if flash[:status]%>

<h1>ALL THE CATS</h1>
<ul>
<%@cats.each do |cat|%>
  <li><%= cat.name%></li>
<%end%>
</ul>

<a href="/cats/new">New cat!</a>
<br>
<br>
<a href="./cats/flash">Flash Page</a>
<a href="./cats/flash_now">Flash Now Page</a>
