<form action="/cats" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_auth_token %>">
  <label>Name
    <input type="text" name="cat[name]" >
  </label>

  <label>Owner
    <input type="text" name="cat[owner]" >
  </label>

  <input type="submit">
</form>
