<h2>About this site</h2>
<p>Welcome to my Corgi Server! The purpose of this site is mainly to learn more about web server architecture and how to actually build a webserver using just Ruby.</p>
<p>
  This site uses a SQLite3 db and a custom ORM to provide ruby objects for the WEBrick server. If you would like to ask any questions about the site, feel free to <a href="mailto:peter.r.benavides@gmail.com">email me</a>!
</p>
