<h2>About this site</h2>
<p>Welcome to my Corgi Server! The purpose of this site is mainly to learn more about web server architecture and how to actually build a webserver using just Ruby.</p>
<p>
  The site is styled using bootstrap for ease of use, and the entire response file is entirely html using bootstrap for styling and animation.
  The images of corgis on the site are from <a href="http://www.placecorgi.com">place corgi</a>, so they will be different on page reloads.
  The icon image at the top of the screen is from Koky Gold at <a href="http://wwww.appszoom.com">appszoom</a>.
</p>
<p>
  This site uses a SQLite3 db and a custom ORM to provide ruby objects for the WEBrick server. If you would like to ask any questions about the site, feel free to <a href="mailto:peter.r.benavides@gmail.com">email me</a>!
</p>
