<h3>DISPLAYING FLASH NOW</h3>

<div class="alert alert-info">
  <%= flash[:status].first if flash[:status]%>
</div>

<p>This page demonstrates the flash now functionality which persists for only one page.</p>
<br>
<br>
<a href="/corgis">Corgis Index</a>
